<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-content">
      <p class="footer-contribute">KI Tilretteleggingsteam i Digdir · <a href="https://baksia.digdir.no/teams/kitt/" target="_blank" rel="noopener noreferrer">Baksia</a> · <a href="https://github.com/altinn/team-kitt" target="_blank" rel="noopener noreferrer">GitHub</a></p>
      <p class="footer-text">
        © {{ 'now' | date: '%Y' }} {{ site.author }} · 
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer">CC BY-SA 4.0</a> · 
        <a href="{{ '/about/' | relative_url }}">About</a>
      </p>
    </div>
  </div>
</footer>
